
#answer-bar {
  position: absolute;
  width: 94vw;
  bottom: 4vw;
  left: 3vw;
  background-color: white;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 2vmin;
  display: flex;
  align-items: stretch;

}


#answer-input {
  font-size: clamp(1.4rem, 6vmin, 6vmin);
  text-align: center;
  padding-left: 10vmin;
  padding-right: 10vmin;
  border-radius: inherit;
  white-space: pre-wrap;
}

#answer-input.disable {
  background-color: var(--bs-secondary-bg);
  color: var(--bs-gray-600);
  caret-color: transparent;
  border: 1px solid var(--bs-secondary-bg);
  ;
  box-shadow: none;

}



#answer-input[contenteditable="false"] {
  color: grey;
  background-color: lightgrey;
}


/* #answer:empty:not(:focus):before{ */
#answer-input:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  color: rgb(128, 128, 128);
  background-color: transparent;
  font-size: 0.6em;
  line-height: 1em;
  opacity: 0.3;
  font-family: 'Luckiest Guy', cursive;
  vertical-align: middle;
}





#answer-submit-btn {
  position: absolute;
  transform: translateY(-50%);
  right: 1.4vmin;
  top: 50%;
  height: clamp(38px, 8vmin, 8vmin);
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  opacity: 0.9;
}

#answer-submit-btn.disable {
  opacity: 0.5;
}

#answer-submit-btn:not(.disable):hover {
  cursor: pointer;
  transform: translate(0%, -50%) scale(1.1);
  opacity: 1;
}