.results-question-card  {
  font-size: 0.98em;
}

.results-question-card  .card-img-top {
  background-color: var(--main-light-grey);
}

.results-question-card  .id-badge {
  background-color: var(--main-blue);
  color: white;
  opacity: 0.7;
}

.results-question-card  .score {
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.6em;
  margin-bottom: -0.5em;
}


.results-question-card .failed .card-body {
  background-color: var(--main-red);
  color: white;
}

.results-question-card  .flag {
  height: 40px;
}


.results-question-card  .row>.col-6:nth-child(2n+1) {
  font-weight: bold;
}