@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@700&display=swap');


#timer-container {
  position: fixed;
  background-color: #2f363e;
  
  color: #ddd;
  z-index:3;
  top: -30vmin;
  
  left: 50%;
  padding-top: 10px;
  transform: translateX(-50%);
  border-radius: 0.5rem;

  transition: top 500ms ease-in-out 0s;

  opacity: 0.84; 
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.4);
}

#timer-container  {
  font-size: calc(0.8em + 1.2vmin);
  letter-spacing: .1rem;
  font-family: 'Chivo Mono', monospace;
  padding-left: 1ch;
  padding-right: 1ch;  
  text-align: center;
}

#timer-container .counter {  
  border-top: 2px solid grey;
  font-size: 0.8em;
}


#timer-container .stopwatch.blink {
  animation: keyframeBlink 1s infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes keyframeBlink {
  0% {opacity: 0.2; }
  10% {opacity: 0.2; }
  30% {opacity: 1; }
  70% {opacity: 1; }
  90% {opacity: 0.2; }
  100% { opacity: 0.2; }
}