#overlay {
  position: absolute;
  top: 0;
  left: 0; 

  width: 100vw;
  height: 100vh;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  cursor: default;
  overflow: hidden;

  background: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);

  --overlay-fade-in-duration: 1000ms;
}


#overlay:not(.hide) {
  animation: overlayFadeIn var(--overlay-fade-in-duration) linear forwards;
}

#overlay.hide {
  animation: overlayFadeOut 100ms linear forwards;
}


@keyframes overlayFadeOut {
  0% {
    opacity: 1;
    height: 100vh;
  }

  99% {
    opacity: 0;
    height: 100vh;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}

@keyframes overlayFadeIn {
  0% {
    opacity: 0;
    height: 0;
  }

  1% {
    opacity: 0;
    height: 100vh;
  }

  100% {
    opacity: 1;
    height: 100vh;
  }
}

#overlay .logo-domain {
  position: absolute;
  top:12vh;
  left: 50%;
  transform: translateX(-50%);
}

#overlay .logo {
  height: 20vh;
  max-height: 400px;
  opacity: 0.4;
}

#overlay .domain {
  font-size: clamp(1rem, 4vh, 3rem);
  font-family: var(--main-title-font);
  opacity: 0.4;
}
