#auth-top-icon {
  position: fixed;
  right: 2vmin;
  top: 2vmin;
  border-radius: 50%;
  z-index: 2;
}

#auth-top-icon>img {
  opacity: 0.9;
  border-radius: 50%;
  cursor: pointer;
  width: clamp(40px, 100vmin, 6vmin);
  height: clamp(40px, 100vmin, 6vmin);
  line-height: normal;
  z-index: 2;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --bs-max-width: 300px;
}

#auth-top-icon>img:hover {
  opacity: 1;
  transform: scale(1.1);
}

#auth-top-icon>img[src="#"] {
  display: none;
}

/* Increase tooltip max width with custom class */
.auth-top-icon-tooltip {  
  --bs-tooltip-max-width: 400px;
}