#card-typing {

  --question-transition-delay: 3000ms;

  position: relative;
  overflow: hidden;
  background-image: linear-gradient(rgba(220, 220, 220, 1), rgba(190, 190, 190, 1));
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* transition: height 0.15s ease-out; */

}


#card-typing .image-lg-0,
#card-typing .image-lg-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity var(--question-transition-delay);
}


#card-typing .image-lg-0>img,
#card-typing .image-lg-1>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#card-typing .card-container {
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  border: 1px solid red;
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.1);
}


#card-typing .image-sm-container {
  position: relative;
  flex: 1 1 auto;

  border: 1px solid green;
  border-radius: 25px;
  background-color: rgba(0, 255, 0, 0.1);
}


#card-typing .answer-bar-container {
  height: 150px;
  width: 100%;

  border: 1px solid blue;
  border-radius: 25px;
  background-color: rgba(0, 0, 255, 0.1);
}


#card-typing .image-sm>img {
  object-fit: contain;
  max-height: 70vh;
  max-width: 70vw;
  object-fit: cover;
  transition: opacity var(--question-transition-delay);
}


#card-typing .correction-container {
  position : absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  border: 1px solid yellow;
  border-radius: 30px;
  background-color: rgba(255, 255, 0, 0.1);
}

